SOURCE
https://ram-parameswaran22.medium.com/a-relatively-faster-approach-for-reading-json-lines-file-into-pandas-dataframe-90b57353fd38

In [1]:
import pandas as pd
import json

Suppose your original_file is  AMAZON_FASHION_5.json.gz


The .gz means the file is compressed using the gzip format

In [ ]:
# When you execute this line, it unzips the data file and create a new file, in this case AMAZON_FASHION_5.json

!gunzip AMAZON_FASHION_5.json.gz

In [2]:
input_file = 'AMAZON_FASHION_5.json' #change to your ungzipped file name

## There are two possible methods to unpack this file. 

### Method 1 is the easy way. 
### Method 2 is the slightly less easy way.

## METHOD #1

In [3]:
df = pd.read_json(input_file, lines=True)  #Thanks Belisario
df.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Blue/Orange'}",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
1,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Black (3746...",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
2,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Blue/Gray L...",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
3,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Blue (37867...",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
4,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Blue/Pink'}",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN

IF THE ABOVE METHOD WORKS ON YOUR FILE, AND THERE ARE NO PROBLEMS, YOU ARE DONE!

IF NOT, GO ON TO METHOD 2

## METHOD #2

In [4]:
with open(input_file) as f:
    lines = f.read().splitlines()
    
df_inter = pd.DataFrame(lines); df_inter.columns = ['json_element']

df_final = pd.json_normalize(df_inter['json_element'].apply(json.loads))

df_final.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,style.Size:,style.Color:,style.Size Name:,style.Style:,vote,image
0,5.0,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,Tonya B.,Great product and price!,Five Stars,1441324800,Big Boys,Blue/Orange,NaN,NaN,NaN,NaN
1,5.0,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,Tonya B.,Great product and price!,Five Stars,1441324800,Big Boys,Black (37467610) / Red/White,NaN,NaN,NaN,NaN
2,5.0,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,Tonya B.,Great product and price!,Five Stars,1441324800,Big Boys,Blue/Gray Logo,NaN,NaN,NaN,NaN
3,5.0,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,Tonya B.,Great product and price!,Five Stars,1441324800,Big Boys,Blue (37867638-99) / Yellow,NaN,NaN,NaN,NaN
4,5.0,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,Tonya B.,Great product and price!,Five Stars,1441324800,Big Boys,Blue/Pink,NaN,NaN,NaN,NaN